body {
    background-color: #47af51;
color:rgb(0, 0, 0)
display: flex;
justify-content:center;
align-items:center;
height:700px;
margin: 0%;

}

button{
    background-color: rgb(228, 228, 82);
color: black;
}
